html{
    background-color: #1229129d;
}

#profilePicture{
    position: absolute;
    top: 29vh;
    left: 30vw;
    max-width: 300px;
    border-radius: 100%;
    box-shadow: 4px 4px 20px 12px #00000093;
}

#statCard{
    position: absolute;
    top: 35vh;
    left: 50vw;
    width: 450px;
    box-shadow: 4px 4px 20px 12px #00000093;
}

#viewProjects{
    border: solid #00000057 3px;
    background: transparent;
    width: 400px;
    font-size: 4vh;
    position: absolute;
    top: 70vh;
    left: 37vw;
    cursor: pointer;
    border-radius: 20px;
}